{% extends 'base.html.twig' %}
{% block title %}
  PAGINA INICIAL!
{% endblock %}

{% block body %}
  <div>
    <h1>BEM VINDO!</h1>
    {% if (posts|length) >= 1 %}
      {% for post in posts %}
        <br />
        <h1>{{ post.title }}</h1>
        <a href="{{ path('app_micro_post_show', { post: post.id }) }}">ver post</a>
      {% endfor %}
    {% else %}
      <h1>nada por aqui...</h1>
    {% endif %}
  </div>
{% endblock %}
