{% extends 'base.html.twig' %}
{% block body %}
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
    {% if (posts|length) >= 1 %}
      {% for post in posts %}
        {{ include('micro_post/_post.html.twig', { post: post }) }}
      {% endfor %}
    {% else %}
      <div class="rounded-md p-2 border-yellow-300 bg-yellow-50 border dark:border-yellow-600 dark:bg-yellow-700 dark:text-white mb-4">Nothing yet...</div>
    {% endif %}
  </div>
{% endblock %}
